html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px; /*1rem = 16px*/
    padding: 20px;
    width:auto ;
    height: auto;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

.titulo{
    color: rgb(19, 129, 255);
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: rgb(0, 255, 140);
    font-size: 2.5rem;
}

p{
    font-size: 2.6rem;
}

.Pati{
    background-color: #f1ff2d;
    text-align: center;
}

.Sistemes{
    background-color: rgb(255, 151, 72) ;
    text-align: center;
}

.Serveis{
    background-color: #2277ed ;
    text-align: center;
}

.Seguretat{
    background-color: #84818E ;
    text-align: center;
}

.Empresa{
    background-color: #4ABD8C ;
    text-align: center;
}

.Aplicacions{
    background-color: #8DEE00 ;
    text-align: center;
}

.CASA{
    background-color: #f1ff27 ;
    text-align: center;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

th,td{
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
}

a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 1rem;
}

a:hover{
    color: hwb(213 15% 0%);
}